<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-cogs"></i>Tortillas II</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>En esta sección se listan sus cursos en los que usted está inscrito.</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
 <div>   
  <h3>Parcial I     <button class = "btn btn-primary Blue" >Agregar Tarea</button> </h3>
    <table class="table table-bordered table-hover centro-filtro-table">
        <thead>
            <tr>
                <th class="text-center col-md-1 widget-element" (click)="sort_id()"><b># <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='id', 'fa-arrow-down':!ascendent && order=='id', 'fa-sort':order!='id'}"></i></b></th>
                <th class="text-center col-md-7 widget-element" (click)="sort_nombre()"><b>Tarea <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='nombres', 'fa-arrow-down':!ascendent && order=='nombres', 'fa-sort':order!='nombres'}"></i></b></th>
                <th class="text-center col-md-1"><b>Modificar</b></th>
                <th class="text-center col-md-1"><b>Eliminar</b></th>
                <th class="text-center col-md-1"><b>Calificar</b></th>                
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <h3>Parcial II  <button class = "btn btn-primary Blue" >Agregar Tarea</button>  </h3>  
    <table class="table table-bordered table-hover centro-filtro-table">
        <thead>
            <tr>
                <th class="text-center col-md-1 widget-element" (click)="sort_id()"><b># <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='id', 'fa-arrow-down':!ascendent && order=='id', 'fa-sort':order!='id'}"></i></b></th>
                <th class="text-center col-md-7 widget-element" (click)="sort_nombre()"><b>Tarea <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='nombres', 'fa-arrow-down':!ascendent && order=='nombres', 'fa-sort':order!='nombres'}"></i></b></th>
                <th class="text-center col-md-1"><b>Modificar</b></th>
                <th class="text-center col-md-1"><b>Eliminar</b></th>
                <th class="text-center col-md-1"><b>Calificar</b></th>                
            </tr>
        </thead>
        <tbody>
            
    </table>

    <h3>Parcial III <button class = "btn btn-primary Blue" >Agregar Tarea</button>   </h3>  
    <table class="table table-bordered table-hover centro-filtro-table">
        <thead>
            <tr>
                <th class="text-center col-md-1 widget-element" (click)="sort_id()"><b># <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='id', 'fa-arrow-down':!ascendent && order=='id', 'fa-sort':order!='id'}"></i></b></th>
                <th class="text-center col-md-7 widget-element" (click)="sort_nombre()"><b>Tarea <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='nombres', 'fa-arrow-down':!ascendent && order=='nombres', 'fa-sort':order!='nombres'}"></i></b></th>
                <th class="text-center col-md-1"><b>Modificar</b></th>
                <th class="text-center col-md-1"><b>Eliminar</b></th>
                <th class="text-center col-md-1"><b>Calificar</b></th>                
            </tr>
        </thead>
        
    </table>

    <h3>Parcial IV  <button class = "btn btn-primary Blue" >Agregar Tarea</button>    </h3>  
    <table class="table table-bordered table-hover centro-filtro-table">
        <thead>
            <tr>
                <th class="text-center col-md-1 widget-element" (click)="sort_id()"><b># <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='id', 'fa-arrow-down':!ascendent && order=='id', 'fa-sort':order!='id'}"></i></b></th>
                <th class="text-center col-md-7 widget-element" (click)="sort_nombre()"><b>Tarea <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='nombres', 'fa-arrow-down':!ascendent && order=='nombres', 'fa-sort':order!='nombres'}"></i></b></th>
                <th class="text-center col-md-1"><b>Modificar</b></th>
                <th class="text-center col-md-1"><b>Eliminar</b></th>
                <th class="text-center col-md-1"><b>Calificar</b></th>                
            </tr>
        </thead>
        
    </table>
</div>