<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-edit"></i> Modificar Alumnos</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>En esta sección se modifican los alumnos de la plataforma.</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row column-height">
        <div class="col-xs-12 col-md-8 well white-bg">
            <div class="animated fadeInRight">
                <h3 class="text-center">Listado de Alumnos</h3>
                <div class="form-group search-thing">
                    <div class = "input-group">
                        <input type="text" class="form-control" [(ngModel)]="search_string" #search="ngModel">
                        <span class="input-group-addon widget-element navy-bg" (click)="search_alumno()"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class = "table-responsive" *ngIf="alumnos.length > 0">
                    <table class="table table-bordered table-hover centro-filtro-table">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1 widget-element" (click)="sort_id()"><b>ID <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='id', 'fa-arrow-down':!ascendent && order=='id', 'fa-sort':order!='id'}"></i></b></th>
                                <th class="text-center col-md-5 widget-element" (click)="sort_nombre()"><b>Nombres <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='nombre', 'fa-arrow-down':!ascendent && order=='nombre', 'fa-sort':order!='nombre'}"></i></b></th>
                                <th class="text-center col-md-5 widget-element" (click)="sort_apellido()"><b>Apellidos <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='apellido', 'fa-arrow-down':!ascendent && order=='apellido', 'fa-sort':order!='apellido'}"></i></b></th>
                                <th class="text-center col-md-1"><b>Ver</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="alumnos.length > 0 && alumnos.length >= requestOffsetLeft  + 0">
                                <td>{{alumnos[requestOffsetLeft -1 + 0].alumno_id}}</td>
                                <td>{{alumnos[requestOffsetLeft -1 + 0].nombres}}</td>
                                <td>{{alumnos[requestOffsetLeft -1 + 0].apellidos}}</td>
                                <td class="text-center widget-element text-success" (click)="set_alumno(requestOffsetLeft -1 + 0)"><b>Ver</b></td>
                            </tr>
                            <tr *ngIf="alumnos.length > 0 && alumnos.length >= requestOffsetLeft  + 1">
                                <td>{{alumnos[requestOffsetLeft -1 + 1].alumno_id}}</td>
                                <td>{{alumnos[requestOffsetLeft -1 + 1].nombres}}</td>
                                <td>{{alumnos[requestOffsetLeft -1 + 1].apellidos}}</td>
                                <td class="text-center widget-element text-success" (click)="set_alumno(requestOffsetLeft -1 + 1)"><b>Ver</b></td>
                            </tr>
                            <tr *ngIf="alumnos.length > 0 && alumnos.length >= requestOffsetLeft  + 2">
                                <td>{{alumnos[requestOffsetLeft -1 + 2].alumno_id}}</td>
                                <td>{{alumnos[requestOffsetLeft -1 + 2].nombres}}</td>
                                <td>{{alumnos[requestOffsetLeft -1 + 2].apellidos}}</td>
                                <td class="text-center widget-element text-success" (click)="set_alumno(requestOffsetLeft -1 + 2)"><b>Ver</b></td>
                            </tr>
                            <tr *ngIf="alumnos.length > 0 && alumnos.length >= requestOffsetLeft  + 3">
                                <td>{{alumnos[requestOffsetLeft -1 + 3].alumno_id}}</td>
                                <td>{{alumnos[requestOffsetLeft -1 + 3].nombres}}</td>
                                <td>{{alumnos[requestOffsetLeft -1 + 3].apellidos}}</td>
                                <td class="text-center widget-element text-success" (click)="set_alumno(requestOffsetLeft -1 + 3)"><b>Ver</b></td>
                            </tr>
                            <tr *ngIf="alumnos.length > 0 && alumnos.length >= requestOffsetLeft  + 4">
                                <td>{{alumnos[requestOffsetLeft -1 + 4].alumno_id}}</td>
                                <td>{{alumnos[requestOffsetLeft -1 + 4].nombres}}</td>
                                <td>{{alumnos[requestOffsetLeft -1 + 4].apellidos}}</td>
                                <td class="text-center widget-element text-success" (click)="set_alumno(requestOffsetLeft -1 + 4)"><b>Ver</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary btn-sm" (click)="updateRequestsGoLeft()" [disabled]="requestOffsetLeft == 0 || requestOffsetLeft==1"><i class="fa fa-arrow-left"></i></button>
                    <button class="btn btn-primary btn-sm" (click)="updateRequestsGoRight()" [disabled]="alumnos.length<=requestOffsetRight"><i class="fa fa-arrow-right"></i></button>
                </div>
                <strong> Mostrando {{requestOffsetLeft}} - {{requestOffsetRight}} de un total de {{alumnos.length}} Alumnos </strong>
            </div> 
        </div>
        <div class="col-md-4 well white-bg">
            <div class="animated fadeInRight">
            <h3 class="text-center">Alumno Seleccionado</h3>
                <form [formGroup]="agregar_alumnos_form" class="m-t" role="form" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <div class="form-group form-group-margins">
                                <label>Nombres</label>
                                <div class = "input-group" [ngClass]="{'has-error':!agregar_alumnos_form.controls['nombres'].valid && submit_add, 'has-success':agregar_alumnos_form.controls['nombres'].valid && submit_add}">
                                    <input [formControl]="agregar_alumnos_form.controls['nombres']" type="text" class="form-control" placeholder="Ingrese un valor" maxlength="50">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12">
                            <div class="form-group form-group-margins">
                                <label>Apellidos</label>
                                <div class = "input-group" [ngClass]="{'has-error':!agregar_alumnos_form.controls['apellidos'].valid && submit_add, 'has-success':agregar_alumnos_form.controls['apellidos'].valid && submit_add}">
                                    <input [formControl]="agregar_alumnos_form.controls['apellidos']" type="text" class="form-control" placeholder="Ingrese un valor" maxlength="50">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <div class="form-group form-group-margins">
                                <label>Departamento</label>
                                <div class = "input-group" [ngClass]="{'has-error':!agregar_alumnos_form.controls['departamento'].valid && submit_add, 'has-success':agregar_alumnos_form.controls['departamento'].valid && submit_add}">
                                    <select [formControl]="agregar_alumnos_form.controls['departamento']" class="form-control">
                                        <option value="" disabled="true">Seleccionar...</option>
                                        <option>Atlántida</option>
                                        <option>Choluteca</option>
                                        <option>Colón</option>
                                        <option>Comayagua</option>
                                        <option>Copán</option>
                                        <option>Cortes</option>
                                        <option>El Paraíso</option>
                                        <option>Francisco Morazán</option>
                                        <option>Gracias a Dios</option>
                                        <option>Intibucá</option>
                                        <option>Islas de la Bahía</option>
                                        <option>La Paz</option>
                                        <option>Lempira</option>
                                        <option>Ocotepeque</option>
                                        <option>Olancho</option>
                                        <option>Santa Bárbara</option>
                                        <option>Valle</option>
                                        <option>Yoro</option>
                                    </select>
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-xl-6">
                            <div class="form-group form-group-margins">
                                <label>ID Alumno</label>
                                <div class = "input-group">
                                    <input [formControl]="agregar_alumnos_form.controls['alumno_id']" type="text" class="form-control" readonly>
                                    <span class="input-group-addon"><i class="fa fa-codepen"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-xl-6">
                            <div class="form-group form-group-margins">
                                <label>Nacimiento</label>
                                <div class = "input-group" [ngClass]="{'has-error':!agregar_alumnos_form.controls['nacimiento'].valid && submit_add, 'has-success':agregar_alumnos_form.controls['nacimiento'].valid && submit_add}">
                                    <input [formControl]="agregar_alumnos_form.controls['nacimiento']" type="date" class="form-control">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center margin-top-15">
                    <button (click)="modificar_alumno()" type="button" class="btn btn-warning" [disabled]="!agregar_alumnos_form.valid"><i class="fa fa-edit" ></i> Modificar</button>
                </div>
            </div> 
        </div>
    </div>
</div>