.grey-border{
	border: 1px solid #41576C;
}

.widget-element{
	cursor:pointer;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator { 
    display:none;
    -webkit-appearance: none;
    margin: 0;
}

.widget-element:hover{
	-webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 05s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.search-thing{
	width:200px !important;
}

.form-group-margins{
	margin-bottom:5px !important;
	margin-top:15px !important;
}

.margin-top-15{
	margin-top:15px !important;
}

.column-height{
	display: flex;
  	display: -webkit-flex;
  	flex-wrap: wrap;
}