<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-cogs"></i>Mis Cursos</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>En esta sección se listan sus cursos en los que usted está inscrito.</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <table class="table table-bordered table-hover centro-filtro-table">
        <thead>
            <tr>
                <th class="text-center col-md-1 widget-element"><b>Seccion <i class= "fa"></i></b></th>
                <th class="text-center col-md-5 widget-element"><b>Nombre Del Curso <i class= "fa"></i></b></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let curso of cursos">
                <td>{{curso.seccion}}</td>
                <td>{{curso.nombre}}</td>
            </tr>
        </tbody>
    </table>
</div>