<!-- Navbar -->
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <!-- Navbar Header-->
      <li class="nav-header no-padding grey-border">
        <div class="profile-element">
          <img class = "logo" src="./assets/images/nav-header.png">
        </div>
        <div class="logo-element">
         Menú
        </div>
      </li>
      <!-- End Navbar Header -->
      <!-- Navbar Items -->
      <li  [ngClass]="{active: activeRoute('inicio')}">
        <a [routerLink]="['/plataforma/inicio']"><i class="fa fa-comment"></i> <span class="nav-label">Notificaciones</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('administracion')||activeRoute('admin_secciones')||activeRoute('admin_alumnos') ||activeRoute('admin_grados') ||activeRoute('admin_clases')||activeRoute('admin_maestros')||activeRoute('admin_padres')}">
        <a [routerLink]="['/plataforma/administracion']"><i class="fa fa-cogs"></i> <span class="nav-label">Administración</span></a>
      </li>
      
      <li [ngClass]="{active: activeRoute('cursos')}">
      	<a [routerLink]="['/plataforma/cursos']"><i class="fa fa-cogs"></i>  <span class="nav-label">Mis Cursos</span></a>
      </li>
      <!-- End Navbar Items -->
    </ul>
  </div>
</nav>
<!-- End Navbar -->
