<!-- Navbar -->
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <!-- Navbar Header-->
      <li class="nav-header">
        <div class="profile-element">
          <img class = "logo" src="./assets/images/logo.png">
        </div>
        <div class="logo-element">
         Menú
        </div>
      </li>
      <!-- End Navbar Header -->
      <!-- Navbar Items -->
      <li  [ngClass]="{active: activeRoute('home')}">
        <a [routerLink]="['/dashboard/home']"><i class="fa fa-comment"></i> <span class="nav-label">Notificaciones</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('new_request')}">
        <a [routerLink]="['/dashboard/new_request']"><i class="fa fa-cogs"></i> <span class="nav-label">Administración</span></a>
      </li>
      <!-- End Navbar Items -->
    </ul>
  </div>
</nav>
<!-- End Navbar -->
