<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-plus"></i> Agregar Tareas</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>En esta sección se agregan las tareas a  la plataforma.</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="well white-bg animated fadeInRight">
                <h3>Formulario de Ingreso de Tareas</h3>
                <form [formGroup]="agregar_tareas_form" class="m-t" role="form" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-margins">
                                <label>Nombre *</label>
                                <div class = "input-group" [ngClass]="{'has-error':!agregar_tareas_form.controls['nombre'].valid && submit_add, 'has-success':agregar_tareas_form.controls['nombre'].valid && submit_add}">
                                    <input [formControl]="agregar_tareas_form.controls['nombre']" type="text" class="form-control" placeholder="Ingrese un valor" maxlength="50">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                            <p class="text-danger" *ngIf="!agregar_tareas_form.controls['nombre'].valid && submit_add">El nombre de la tarea es requerido.</p> 
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-margins">
                                <label>Descripcion *</label>
                                <div class = "input-group" [ngClass]="{'has-error':!agregar_tareas_form.controls['descripcion'].valid && submit_add, 'has-success':agregar_tareas_form.controls['descripcion'].valid && submit_add}">
                                    <input [formControl]="agregar_tareas_form.controls['descripcion']" type="text" class="form-control" placeholder="Ingrese un valor" maxlength="50">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                            <p class="text-danger" *ngIf="!agregar_tareas_form.controls['descripcion'].valid && submit_add">El apellido del alumno es requerido.</p> 
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-margins">
                                <label>Tipo *</label>
                                <div class = "input-group" [ngClass]="{'has-error':!agregar_tareas_form.controls['tipo'].valid && submit_add, 'has-success':agregar_tareas_form.controls['tipo'].valid && submit_add}">
                                    <input [formControl]="agregar_tareas_form.controls['tipo']" type="text" class="form-control" placeholder="Ingrese un valor" maxlength="50">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                            <p class="text-danger" *ngIf="!agregar_tareas_form.controls['tipo'].valid && submit_add">El tipo de la tarea es requerido.</p> 
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-margins">
                                <label>Valor*</label>
                                <div class = "input-group" [ngClass]="{'has-error':!agregar_tareas_form.controls['valor'].valid && submit_add, 'has-success':agregar_tareas_form.controls['valor'].valid && submit_add}">
                                    <input [formControl]="agregar_tareas_form.controls['valor']" type="text" class="form-control" placeholder="Ingrese un valor" maxlength="50">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                            <p class="text-danger" *ngIf="!agregar_tareas_form.controls['valor'].valid && submit_add">El valor de la tarea es requerido.</p> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-margins">
                                <label>Parcial *</label>
                                <div class = "input-group" [ngClass]="{'has-error':!agregar_tareas_form.controls['parcial'].valid && submit_add, 'has-success':agregar_tareas_form.controls['parcial'].valid && submit_add}">
                                    <select [formControl]="agregar_tareas_form.controls['parcial']" class="form-control">
                                        <option value="" disabled="true">Seleccionar...</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        
                                    </select>
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                </div>
                                
                            </div>
                            <p class="text-danger" *ngIf="!agregar_tareas_form.controls['parcial'].valid && submit_add">El departamento es requerido.</p> 
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-margins">
                                <label>Fecha de Entrega *</label>
                                <div class = "input-group" [ngClass]="{'has-error':!agregar_tareas_form.controls['entrega'].valid && submit_add, 'has-success':agregar_tareas_form.controls['entrega'].valid && submit_add}">
                                    <input [formControl]="agregar_tareas_form.controls['entrega']" type="date" class="form-control">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <p class="text-danger" *ngIf="!agregar_tareas_form.controls['entrega'].valid && submit_add">La fecha de nacimiento es requerida.</p> 
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-margins">
                                <label>Fecha de Subida *</label>
                                <div class = "input-group" [ngClass]="{'has-error':!agregar_tareas_form.controls['asignada'].valid && submit_add, 'has-success':agregar_tareas_form.controls['asignada'].valid && submit_add}">
                                    <input [formControl]="agregar_tareas_form.controls['asignada']" type="date" class="form-control">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <p class="text-danger" *ngIf="!agregar_tareas_form.controls['asignada'].valid && submit_add">La fecha de asignacion es requerida.</p> 
                        </div>
                    </div>
                    <div class="row margin-top-15">
                        <div class="col-xs-12">
                            <button [ladda]="adding" data-style="slide-left" (click)="agregar_tarea()" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</button>
                        </div>
                    </div>
                </form>
            </div> 
        </div>
    </div>
</div>
