<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-cogs"></i> Administración</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>En esta sección se administra el ambiente de la plataforma de aprendizaje.</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail hover-icon" [routerLink]="['/plataforma/admin_alumnos']">
                <div class="ibox-content white-bg">

                    <div class="row">
                        <div class="col-md-3">
                            <img class = "request-image" src="./assets/images/student.png">

                        </div>
                        <div class="col-md-9">

                            <h2 class="font-bold m-b-xs">
                                Administrar Alumnos
                            </h2>
                            <hr>

                            <h4>Descripción</h4>

                            <div class="text-muted">
                                Los alumnos se encuentran asignados a una sección.
                            </div>
                            <dl class="m-t-md">
                                <dt>Herramientas:</dt>
                                <dd>Crear Alumnos, Ver/Buscar Alumnos, Modificar Alumnos, Eliminar Alumnos</dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail hover-icon" [routerLink]="['/plataforma/admin_secciones']">
                <div class="ibox-content white-bg">

                    <div class="row">
                        <div class="col-md-3">
                            <img class = "request-image" src="./assets/images/class.jpg">

                        </div>
                        <div class="col-md-9">

                            <h2 class="font-bold m-b-xs">
                                Administrar Secciones
                            </h2>
                            <hr>

                            <h4>Descripción</h4>

                            <div class="text-muted">
                                Las secciones son la relación entre un curso, grado, maestro, y listado de alumnos.
                            </div>
                            <dl class="m-t-md">
                                <dt>Herramientas:</dt>
                                <dd>Crear Secciones, Ver/Buscar Secciones, Modificar Secciones, Eliminar Secciones</dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail hover-icon" [routerLink]="['/plataforma/admin_grados']">
                <div class="ibox-content white-bg">

                    <div class="row">
                        <div class="col-md-3">
                            <img class = "request-image" src="./assets/images/grade.png">

                        </div>
                        <div class="col-md-9">

                            <h2 class="font-bold m-b-xs">
                                Administrar Grados
                            </h2>
                            <hr>

                            <h4>Descripción</h4>

                            <div class="text-muted">
                                Los grados son aquellos que contienen un conjunto de clases.
                            </div>
                            <dl class="m-t-md">
                                <dt>Herramientas:</dt>
                                <dd>Crear Grados, Ver/Buscar Grados, Modificar Grados, Eliminar Grados</dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail hover-icon" [routerLink]="['/plataforma/admin_clases']">
                <div class="ibox-content white-bg">

                    <div class="row">
                        <div class="col-md-3">
                            <img class = "request-image" src="./assets/images/signature.png">

                        </div>
                        <div class="col-md-9">

                            <h2 class="font-bold m-b-xs">
                                Administrar Clases
                            </h2>
                            <hr>

                            <h4>Descripción</h4>

                            <div class="text-muted">
                                Son las clases contenidas dentro de cada grado.
                            </div>
                            <dl class="m-t-md">
                                <dt>Herramientas:</dt>
                                <dd>Crear Clases, Ver/Buscar Clases, Modificar Clases, Eliminar Clases</dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail hover-icon" [routerLink]="['/plataforma/admin_maestros']">
                <div class="ibox-content white-bg">

                    <div class="row">
                        <div class="col-md-3">
                            <img class = "request-image" src="./assets/images/teacher.png">

                        </div>
                        <div class="col-md-9">

                            <h2 class="font-bold m-b-xs">
                                Administrar Maestros
                            </h2>
                            <hr>

                            <h4>Descripción</h4>

                            <div class="text-muted">
                                Los maestros se encuentran encargados de una sección.
                            </div>
                            <dl class="m-t-md">
                                <dt>Herramientas:</dt>
                                <dd>Crear Matestros, Ver/Buscar Maestros, Modificar Maestros, Eliminar Maestros</dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail hover-icon" [routerLink]="['/plataforma/admin_padres']">
                <div class="ibox-content white-bg">

                    <div class="row">
                        <div class="col-md-3">
                            <img class = "request-image" src="./assets/images/padres.png">

                        </div>
                        <div class="col-md-9">

                            <h2 class="font-bold m-b-xs">
                                Administrar Padres
                            </h2>
                            <hr>

                            <h4>Descripción</h4>

                            <div class="text-muted">
                                Cada alumno tiene asignado sus padres.
                            </div>
                            <dl class="m-t-md">
                                <dt>Herramientas:</dt>
                                <dd>Crear Padre, Ver/Buscar Padre, Modificar Padre, Eliminar Padre</dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>