<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-trash"></i> Eliminar Padres</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>En esta sección se eliminan los padres de la plataforma.</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row column-height">
        <div class="col-xs-12 col-md-8 well white-bg">
            <div class="animated fadeInRight">
                <h3 class="text-center">Listado de Padres</h3>
                <div class="form-group search-thing">
                    <div class = "input-group">
                        <input type="text" class="form-control" [(ngModel)]="search_string" #search="ngModel">
                        <span class="input-group-addon widget-element navy-bg" (click)="search_padre()"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class = "table-responsive" *ngIf="padres.length > 0">
                    <table class="table table-bordered table-hover centro-filtro-table">
                        <thead>
                            <tr>
                                <th class="text-center col-md-1 widget-element" (click)="sort_id()"><b>ID <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='id', 'fa-arrow-down':!ascendent && order=='id', 'fa-sort':order!='id'}"></i></b></th>
                                <th class="text-center col-md-5 widget-element" (click)="sort_nombre()"><b>Nombre <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='nombre', 'fa-arrow-down':!ascendent && order=='nombre', 'fa-sort':order!='nombre'}"></i></b></th>
                                <th class="text-center col-md-5 widget-element" (click)="sort_telefono()"><b>Telefono <i class= "fa" [ngClass]="{'fa-arrow-up':ascendent && order=='telefono', 'fa-arrow-down':!ascendent && order=='telefono', 'fa-sort':order!='telefono'}"></i></b></th>
                                <th class="text-center col-md-1"><b>Ver</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="padres.length > 0 && padres.length >= requestOffsetLeft  + 0">
                                <td>{{padres[requestOffsetLeft -1 + 0].IDpadre}}</td>
                                <td>{{padres[requestOffsetLeft -1 + 0].nombre}}</td>
                                <td>{{padres[requestOffsetLeft -1 + 0].telefono}}</td>
                                <td class="text-center widget-element text-success" (click)="set_padre(requestOffsetLeft -1 + 0)"><b>Ver</b></td>
                            </tr>
                            <tr *ngIf="padres.length > 0 && padres.length >= requestOffsetLeft  + 1">
                                <td>{{padres[requestOffsetLeft -1 + 1].IDpadre}}</td>
                                <td>{{padres[requestOffsetLeft -1 + 1].nombre}}</td>
                                <td>{{padres[requestOffsetLeft -1 + 1].telefono}}</td>
                                <td class="text-center widget-element text-success" (click)="set_padre(requestOffsetLeft -1 + 1)"><b>Ver</b></td>
                            </tr>
                            <tr *ngIf="padres.length > 0 && padres.length >= requestOffsetLeft  + 2">
                                <td>{{padres[requestOffsetLeft -1 + 2].IDpadre}}</td>
                                <td>{{padres[requestOffsetLeft -1 + 2].nombre}}</td>
                                <td>{{padres[requestOffsetLeft -1 + 2].telefono}}</td>
                                <td class="text-center widget-element text-success" (click)="set_padre(requestOffsetLeft -1 + 2)"><b>Ver</b></td>
                            </tr>
                            <tr *ngIf="padres.length > 0 && padres.length >= requestOffsetLeft  + 3">
                                <td>{{padres[requestOffsetLeft -1 + 3].IDpadre}}</td>
                                <td>{{padres[requestOffsetLeft -1 + 3].nombre}}</td>
                                <td>{{padres[requestOffsetLeft -1 + 3].telefono}}</td>
                                <td class="text-center widget-element text-success" (click)="set_padre(requestOffsetLeft -1 + 3)"><b>Ver</b></td>
                            </tr>
                            <tr *ngIf="padres.length > 0 && padres.length >= requestOffsetLeft  + 4">
                                <td>{{padres[requestOffsetLeft -1 + 4].IDpadre}}</td>
                                <td>{{padres[requestOffsetLeft -1 + 4].nombre}}</td>
                                <td>{{padres[requestOffsetLeft -1 + 4].telefono}}</td>
                                <td class="text-center widget-element text-success" (click)="set_padre(requestOffsetLeft -1 + 4)"><b>Ver</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary btn-sm" (click)="updateRequestsGoLeft()" [disabled]="requestOffsetLeft == 0 || requestOffsetLeft==1"><i class="fa fa-arrow-left"></i></button>
                    <button class="btn btn-primary btn-sm" (click)="updateRequestsGoRight()" [disabled]="padres.length<=requestOffsetRight"><i class="fa fa-arrow-right"></i></button>
                </div>
                <strong> Mostrando {{requestOffsetLeft}} - {{requestOffsetRight}} de un total de {{padres.length}} Padres </strong>
            </div> 
        </div>
        <div class="col-md-4 well white-bg">
            <div class="animated fadeInRight">
            <h3 class="text-center">Padre Seleccionado</h3>
                <form class="m-t" role="form" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <div class="form-group form-group-margins">
                                <label>Nombre</label>
                                <div class = "input-group">
                                    <input name="padr_nombre" type="text" class="form-control" [(ngModel)]="padre_nombre" #padr_nombre="ngModel" readonly>
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12">
                            <div class="form-group form-group-margins">
                                <label>Telefono</label>
                                <div class = "input-group">
                                    <input name="padr_telefono" type="text" class="form-control" [(ngModel)]="padre_telefono" #padr_telefono="ngModel" readonly>
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <div class="form-group form-group-margins">
                                <label>Direccion</label>
                                <div class = "input-group" >
                                    <input name="padr_direccion" type="text" class="form-control" [(ngModel)]="padre_direccion" #padr_direccion="ngModel" readonly>
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-6">
                            <div class="form-group form-group-margins">
                                <label>ID Padre</label>
                                <div class = "input-group">
                                    <input name="padr_id" type="text" class="form-control" [(ngModel)]="IDpadre" #padr_id="ngModel" readonly>
                                    <span class="input-group-addon"><i class="fa fa-codepen"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-6">
                            <div class="form-group form-group-margins">
                                <label>Correo</label>
                                <div class = "input-group">
                                    <input name="padr_correo" type="text" class="form-control" [(ngModel)]="padre_correo" #padr_correo="ngModel" readonly>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center margin-top-15">
                    <button (click)="eliminar_padre()" type="button" class="btn btn-danger" [disabled]="IDpadre == '' || IDpadre == null || IDpadre == undefined"><i class="fa fa-trash" ></i> Eliminar</button>
                </div>
            </div> 
        </div>
    </div>
</div>
